<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58631592183-ni504m5nsvpe52a9c7rqfrtte5kollp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58631592183-ni504m5nsvpe52a9c7rqfrtte5kollp3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>58631592183-6hh7oieh8jq5b7fdf5r8mmi3f01cqkip.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOTuO401KgisUz0cpGjw4FXJlSIJu-xSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>58631592183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.migrantApp</string>
	<key>PROJECT_ID</key>
	<string>migrant-app-5f27c</string>
	<key>STORAGE_BUCKET</key>
	<string>migrant-app-5f27c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58631592183:ios:fb652a745f00f020801bf2</string>
	<key>DATABASE_URL</key>
	<string>https://migrant-app-5f27c.firebaseio.com</string>
</dict>
</plist>